header {
    text-align: center;
    color: red;
}

nav .navbar-brand .aquamarine {
    color: aquamarine;
}

nav .navbar-brand .blue {
    color: #537fbe;
}

#main-stats {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-spacing: 50px;
    padding: 10px;
}

table,
th,
td {
    border: 1px solid grey;
}

td {
    padding: 10px 0;
}

#main-stats td {
    width: 250px;
}

#main-stats th {
    width: 250px;
}

#profile-header {
    color: DarkSlateGrey;
    font-size: 120%;
}

.library-stat {
    color: DarkViolet;
}

#favorites-section {
    color: DimGrey;
}

.favorites-header {
    color: ForestGreen;
}

.wrapper-grid {
    display: grid;
    grid-gap: 10px;
    width: 100%;
    grid-auto-rows: minmax(100px, auto);
    grid-template-columns: repeat(auto-fill, 300px);
}

.grid-item {
    border: 1px solid black;
    width: 300px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.relative {
    padding: 10px;
    position: relative;
    background-color: #fff;
    margin: 10px;
}

.center {
    text-align: center;
}